@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
        #botao{
            padding: 25px 25px;
            font-size: 16px;
        }

        h1{
            font-family: 'Pacifico', cursive; font-weight: normal;
        }

        body{
            font: normal 20px ARIAL;
        }